.banner .nav li {
  @extend .nav-item;
  @extend .nav-link;
}

.banner .nav a {
  @extend .lh-1;
  @extend .fw-600;
  @extend .text-white;
  @extend .transition;
  @extend .position-relative;
  
  &:hover {
    @extend .text-white;
  }
  
  &:last-child {
    @extend .btn;
    @extend .btn-primary;
  }
}

.banner {
  z-index: 2;
  @extend .top-0;
  @extend .w-100;
  @extend .start-0;
  @extend .transition;
  @extend .position-absolute;

  .brand img {
    max-width: 125px;
    filter: brightness(0) invert(1);

    @include media-breakpoint-up(lg) {
      max-width: 155px;
    }
  }

  .container-lg {
    min-height: 0;
    @extend .pt-3;
    @extend .pt-md-4;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
  }
}
