.btn {
  border: none;
  border-radius: 3rem;
  padding: 18px 35px;
  text-decoration: none;
  max-width: fit-content;
  @extend .text-uppercase;
  @extend .text-center;
  @extend .transition;
  @extend .fw-500;
  @extend .fs-15;
  @extend .lh-1;
  @extend .ls-1;
  
  &-primary {
    @extend .bg-white;
    @extend .text-white;
    background: linear-gradient(149deg, $blue 5.25%, #82e8ff 130.25%);

    @include media-breakpoint-down(sm) {
      padding: 18px 20px;
    }

    &:hover {
      box-shadow: 0 0.375rem 1.5rem -0.25rem rgba($black, 0.15) !important;
    }
  }

  &-white {
    @extend .bg-white;
    @extend .text-secondary;

    &:hover {
      @extend .text-white;
      background: linear-gradient(149deg, $blue 5.25%, #82e8ff 130.25%);
      box-shadow: 0 0.375rem 1.5rem -0.25rem rgba($black, 0.15) !important;
    }
  }

  &-hover {
    @extend .text-blue;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px $blue;

    &:hover {
      @extend .text-white;
      background: linear-gradient(149deg, $blue 5.25%, #82e8ff 130.25%);
      box-shadow: 0 0.375rem 1.5rem -0.25rem rgba($black, 0.25) !important;
    }
  }

  &:focus,
  &.focus,
  &:active {
    box-shadow: none;
  }
}
