* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: $font-family-base;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @include transition;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

p {
  @extend .fw-300;
  @extend .fs-14;
  @extend .mb-0;
  line-height: 24px;

  &:last-child {
    margin-bottom: 0 !important;
  }

  strong {
    font-weight: 600;
  }

  small {
    @extend .fs-12;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 0;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  @extend .fw-600;

  @include media-breakpoint-down(lg) {
    font-size: 28px;
    line-height: 40px;
  }

  @include media-breakpoint-down(md) {
    font-size: 24px;
    line-height: 32px;
  }
}

h2 {
  font-size: 30px;
  line-height: 40px;
  @extend .fw-400;

  @include media-breakpoint-down(lg) {
    font-size: 28px;
    line-height: 38px;
  }

  @include media-breakpoint-down(md) {
    font-size: 26px;
    line-height: 36px;
  }
}

h3 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  line-height: 18px;
  @extend .fw-300;
}

h6 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
